header {
    position: relative;
}

header p {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    padding: 1em;
    border-top: 1px solid var(--verde-muy-oscuro);
    border-left: 1px solid var(--verde-muy-oscuro);
    background-color: var(--amarillo);
    font-family: 'Lobster', sans-serif;
    font-size: 0.9em;
    color: var(--verde-muy-oscuro);
    text-align: center;
}

nav ul li {
    flex: 1;
}

nav ul li:nth-child(2),
nav ul li:nth-child(3),
nav ul li:nth-child(4) {
    flex: 3;
}

nav ul li {
    cursor: pointer;
}

nav ul li:hover {
    background-color: var(--amarillo);
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

article#introduccion {
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "parrafos imagen";
    grid-template-columns: 70% 30%;
}

article#introduccion h2 {
    grid-area: titulo;
}

#parrafos {
    grid-area: parrafos;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article#introduccion img {
    grid-area: imagen;
    width: 100%;
}

section#sitios-interes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

section#sitios-interes article p {
    font-size: 0.9em;
}

section#sitios-interes img {
    width: 100%;
}

section#sitios-interes img:hover {
    border-radius: 20px;
}

section#formulario {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "form1 form2";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

section#formulario h2 {
    grid-area: titulo;
}

section#formulario form:first-of-type {
    grid-area: form1;
    margin-left: 30px;
}

section#formulario form:last-of-type {
    grid-area: form2;
    margin-right: 30px;
}

section#formulario #fechas {
    display: grid;
    grid-template-areas: 
    "label1 label2"
    "input1 input2";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

section#formulario #fechas label:first-of-type {
    grid-area: label1;
}

section#formulario #fechas label:last-of-type {
    grid-area: label2;
}

section#formulario #fechas input:first-of-type {
    grid-area: input1;
}

section#formulario #fechas input:last-of-type {
    grid-area: input2;
}

